# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @adamparco @heavypackets @hug-dev @ionut-arm @justincormack @paulhowardarm @anta5010 @gowthamsk-arm @tgonzalezorlandoarm 
